.add-event-icon {
  background-color: $black;
  width: 56px;
  height: 56px;
  color: $white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
