.dasboard-event-new {
  background-color: $light-gray;

  &__container {
    min-height: 721px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    min-width: 416px;
    background-color: $white;
    padding: 30px;
  }

  &__form-title {
    text-align: center;

  }

  &__feedback-text {
    color: $gray-text;
    &--red{
      color: $red;
    }
  }

  &__submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
