@import url('https://fonts.googleapis.com/css?family=Merriweather');

$font-size : 5rem;
$merriweather: "Merriweather",sans-serif;

body {
  font-family: $merriweather;
}

a {
  text-decoration: none;
  color: $black;
}
