@import url('https://fonts.googleapis.com/css?family=Merriweather');

$brand-purple : rgb(135,140,223);
$brand-green: rgb(153,251,198);
$font-size : 5rem;
$merriweather: "Merriweather",sans-serif;

body{
	font-family: $merriweather;
}



