@import 'colors';
@import 'Login/loginForm';
@import 'SignUp/signUpForm';
@import url('https://fonts.googleapis.com/css?family=Merriweather');


$font-size : 5rem;
$merriweather: "Merriweather",sans-serif;

body{
	font-family: $merriweather;
}



